/* Big tablet to 1200px (widths smaller taht the 1140px row) */

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        max-width: 100%;
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
    }
}


/* Small tablet to big tablet: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .work-box {
        margin-top: 10px;
    }
    .work-box .box {
        margin-bottom: 10px;
    }
}


/* Small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    section {
        padding: 30px 0;
    }
    .row,
    .hero-text-box {
        padding: 0 4%;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    .section-work p {
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }
    .section-work h4,
    .section-work h3 {
        text-align: center;
    }
    .work-1 img,
    .work-3 img {
        width: 80%;
        margin-left: 10%;
    }
    .work-nav {
        text-align: center;
    }
    .main-nav {
        display: none;
    }
    .section-about img {
        width: 40%;
        margin: 0px 30%;
    }
    .work-2 .btn-full,
    .about .btn-full {
        margin-right: 0;
    }
}


/* Small phones: from 0 to 480px */

@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }
}


/* ----------- iPhone 4 and 4S ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    header {
        background-attachment: scroll;
    }
}


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    header {
        background-attachment: scroll;
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    header {
        background-attachment: scroll;
    }
}


/* ----------- iPhone 5 and 5S ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    header {
        background-attachment: scroll;
    }
}


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    header {
        background-attachment: scroll;
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    header {
        background-attachment: scroll;
    }
}


/* ----------- iPhone 6 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    header {
        background-attachment: scroll;
    }
}


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    background-attachment: scroll;
}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    header {
        background-attachment: scroll;
    }
}


/* ----------- iPhone 6+ ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    header {
        background-attachment: scroll;
    }
}


/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    header {
        background-attachment: scroll;
    }
}


/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    header {
        background-attachment: scroll;
    }
}